# configuración de la base de datos Turso
# solo aplica para la versión live
# en desarrollo se asume que se está usando el contenedor de Docker
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=



# meta-llama/llama-3.3-70b-instruct:free
LLAMA_MODEL=meta-llama/llama-3.3-70b-instruct:free
OPENROUTER_KEY=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


# OAuth Providers
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=


BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:3000"