# configuración de la base de datos Turso
# solo aplica para la versión live
# en desarrollo se asume que se está usando el contenedor de Docker
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=



# meta-llama/llama-3.3-70b-instruct:free
LLAMA_MODEL=meta-llama/llama-3.3-70b-instruct:free
OPENROUTER_KEY=


# OAuth Providers
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=


BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:3000"
